.container{
    height: 500px;
}

.container__list__selectOfDays{
    display: flex;
}



.container__list__selectOfDays__block{
    width: 45px;
    height: 45px;
    background-color: azure;
    transition: background-color 0.3s ease-in-out;
}

.container__list__selectOfDays__block:hover{
    background-color: aquamarine;
}

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 28px; /* 높이를 더 늘림 */
    vertical-align: middle;
}

.switch input {
    display: none;
}

.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px; /* 부모 요소의 높이에 맞추기 위해 둥근 모양으로 변경 */
}

.switch__slider:before {
    position: absolute;
    content: "";
    height: 22px; /* 슬라이더의 크기를 조정 */
    width: 22px; /* 슬라이더의 크기를 조정 */
    left: 3px;
    bottom: 3px; /* 슬라이더를 중앙에 위치시키기 위해 수정 */
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%; /* 둥근 모양으로 변경 */
}

input:checked + .switch__slider {
    background-color: #2196F3;
}

input:focus + .switch__slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch__slider:before {
    -webkit-transform: translateX(24px); /* 두께에 따라 이동 거리 조정 */
    -ms-transform: translateX(24px); /* 두께에 따라 이동 거리 조정 */
    transform: translateX(24px); /* 두께에 따라 이동 거리 조정 */
}

/* Rounded sliders */
.switch__slider.switch__round:before {
    border-radius: 50%; /* 슬라이더를 둥근 모양으로 변경 */
}