.containerNavbar{
    width: 100%;
    height: 90px;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid #EAEAEA;
}


.containerNavbar__logoContainer{
    width: 250px;
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.containerNavbar__logoContainer__container{
    margin-left: 7px;
    display: flex;
    align-items: center;
    width: 250px;
}


.containerNavbar__logoContainer__container img{
    margin-left: 10px;
    height: 42px;
    width: 60px;
}


.containerNavbar__logoContainer__container__menu svg{
    font-size: 25px;
}



.containerNavbar__todayLetter{
    padding: 15px;
}

.containerNavbar__todayLetter p{
    font-size: 25px !important;
}

.containerNavbar__toolContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.containerNavbar__toolContainer__container{
    align-items: center;
    display: flex;
}

.containerNavbar__ProfileContainer{
    width: 100px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: end;
}

.containerNavbar__ProfileContainer__Container{
    padding: 10px;
    cursor: pointer;
}


.containerNavbar__ProfileContainer__Container img{
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
    height: 40px;
}


