.main_body{
    width:100%;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    overflow: hidden;
}

.main_body__container{
    display: flex;
    height: 100%;
}

/* .main_body.newTodo{
    overflow: hidden;
} */




.main_body__main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.main_body__main_flashMessage{
    width: 200px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2rem;
}


.main_body__main__body{
    height: 100%;
    width: 600px;
    overflow: scroll;
}


.main_body__banner__items__item__onClick .userLogin{
    width: 100%;
}


.main_body__banner__logOut{
height: 50px;
cursor: pointer;
}

.main_body__main__body{
    height: 100%;
    border-left: 0.5px solid #EFF3F4;
    border-right: 0.5px solid #EFF3F4;
}

.main_body__main__body__comment{
    width: 600px;
}


.main_body__main__side__example{
    width: 100%;
    background-color: #EAEAEA;
    height: 100%;
    position: fixed;
}


